   .testimonial-card {
    border-collapse: separate;
    border-spacing: 20px;
    margin-bottom: 30px;
  }
  
  .testimonial-img {
    padding-right: 20px;
  }

  .tablerow {
    /* box-shadow: #a19999; */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.28);
  }
  
  .testimonial-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .testimonial-author {
    font-weight: bold;
    display: block;
    padding :0px 10px 0px 10px;
  }
  
  .testimonial-actions {
    text-align: right;
  }
  
  .testimonial-content {
    vertical-align: bottom;
    padding: 15px;
  }
  
  .testimonial-actions button {
    font-size: 18px;
    padding: 0px 10px 5px 0px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
  }
  
  .accept-btn {
    color: #28a745;
    background-color: transparent;
  }
  
  .reject-btn {
    background-color: transparent;
    color: red;
  }
  

  